<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Bid</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">App</a>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/bidList/list">Bid List <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/curvePoint/list">Curve Points</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/rating/list">Ratings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/trade/list">Trade</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/ruleName/list">Rule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/list">Users</a>
			</li>
		</ul>
		<ul class="nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="${username}"></a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#" th:text="${role}">Action</a>
					<a class="dropdown-item" href="/logout">Logout</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<div class="panel panel-default panel-table">
				<div class="panel-heading">
					<div class="row">
						<div class="col col-xs-6">
							<h3 class="panel-title">Bid List</h3>
						</div>
						<div class="col col-xs-6 text-right">
							<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead class="thead-dark">
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Account</th>
							<th scope="col">Type</th>
							<th scope="col">Bid Quantity</th>
							<th scope="col">Action</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="bidList : ${bidLists.content}">
							<td style="width: 10%" th:text="${bidList.bidListId}"></td>
							<td th:text="${bidList.account}"></td>
							<td th:text="${bidList.type}"></td>
							<td th:text="${bidList.bidQuantity}"></td>
							<td style="width: 15%" class="text-center">
								<a th:href="@{/bidList/update/{id}(id=${bidList.bidListId})}" class='btn btn-info btn-xs'> <span class="glyphicon glyphicon-edit"></span>Edit</a>
								<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" th:data-id="${bidList.bidListId}" data-target="#deleteModal">Delete</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer text-center">
					<div th:if="${bidLists.totalPages > 1}">
						<ul class="pagination">
							<li th:if="${bidLists.hasPrevious}" class="page-item">
								<a th:href="@{${'/bidList/list?page=' + (bidLists.number - 1)}}" class="page-link">Previous</a>
							</li>
							<li th:each="pageNumber : ${#numbers.sequence(0, bidLists.totalPages - 1)}" class="page-item">
								<a th:href="@{${'/bidList/list?page=' + pageNumber}}" th:classappend="${pageNumber == bidLists.number} ? 'active' : ''" class="page-link" th:text="${pageNumber + 1}"></a>
							</li>
							<li th:if="${bidLists.hasNext}" class="page-item">
								<a th:href="@{${'/bidList/list?page=' + (bidLists.number + 1)}}" class="page-link">Next</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this item?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a th:id="deleteLink" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
</div>
<script>
	$('#deleteModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var id = button.data('id')

		$("#deleteLink").attr("href", "/bidList/delete/" + id );
	})
</script>
</body>
</html>